{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/modalAgregar.css' %}">


    
    <title>Inicio</title>


</head>
<body>
    <div class="container container-fluid w-50 mt-5">
        <div class="top">
            <h1>MiDo</h1>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class=" scl">
                <i class="fa-solid fa-plus"></i>
                Nueva receta
            </button>
        </div>
        <div class="list">
            <div>
                <p><b>Mi receta actual:</b></p>
            </div>
            {% if activos %}
            {% for receta in activos %}
           <div class="receta mt-3" data-id="{{ receta.id }}">
                <div class="receta-info1">
                    <div class="receta-doc">Doc. {{ receta.doc|title }}</div>
                    <div class="receta-cantidadMedicina">
                        <i class="fa-solid fa-capsules"></i>
                        {{receta.cantidad_medicinas}} medicinas
                    </div>
                </div>
                <div class="receta-info2">
                    <div class="detalles">
                        <p class="fecha m-0 mt-3">{{  receta.fecha|date:"j \\d\\e F \\d\\e Y"  }}</p>
                        <p class="efectividad"><b>Efectividad:</b> {{ receta.efectividad }}/10</p>
                    </div>
                    <div class="accion">
                        <button class="btn scl" onclick="event.stopPropagation(); document.getElementById('eliminarReceta').submit()"><i class="fa-solid fa-trash"></i></button>
                        <form 
                        id="eliminarReceta"
                        action="eliminarReceta/" 
                        method="POST">
                            {% csrf_token %} 
                            <input type="hidden" name="deleteID" value="{{ receta.id }}">
                    </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p>No hay recetas activas</p>
            {% endif %}
            <!--  -->
            <hr class="mt-4 mb-3">
            <!--  -->
            {% for receta in lista %}
            <div class="receta mt-3" data-id="{{ receta.id }}">
                <div class="receta-info1">
                    <div class="receta-doc">Doc. {{ receta.doc|title }}</div>
                    <div class="receta-cantidadMedicina">
                        <i class="fa-solid fa-capsules"></i>
                        {{receta.cantidad_medicinas}} medicinas
                    </div>
                </div>
                <div class="receta-info2">
                    <div class="detalles">
                        <p class="fecha m-0 mt-3">{{  receta.fecha|date:"j \\d\\e F \\d\\e Y"  }}</p>
                        <p class="efectividad"><b>Efectividad:</b> {{ receta.efectividad }}/10</p>
                    </div>
                    <div class="accion">
                        <button class="btn scl" onclick="event.stopPropagation(); document.getElementById('eliminarReceta').submit()"><i class="fa-solid fa-trash"></i></button>
                        <form 
                        id="eliminarReceta"
                        action="eliminarReceta/" 
                        method="POST">
                            {% csrf_token %} 
                            <input type="hidden" name="deleteID" value="{{ receta.id }}">
                    </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<!-- modales -->
{% include 'modales/agregarReceta.html' %}


<!-- scripts -->
<script src="{% static 'js/recetaRedirigir.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>