{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/detalles.css' %}">
    <link rel="stylesheet" href="{% static 'css/modalAgregarMedicamento.css' %}">
    <link rel="stylesheet" href="{% static 'css/modalAgregar.css' %}">

    <title>Detalles</title>
</head>
<body>
    <div class="container container-fluid w-50 ">
        <div class="back">
        <a href="../../"><i class="fa-solid fa-arrow-left fs-3 mt-3"></i></a>
        </div>
        <div class="top d-flex">
            <div class="informacion">
                <p class="doc">
                    {%  if  receta.doc|default_if_none:"" %}
                         Doc. {{ receta.doc|title }}
                        {% else %}
                        Doctor no asignado
                        {% endif %}
                </p>
                <p class="fecha mb-0">{{  receta.fecha|date:"j \\d\\e F \\d\\e Y"  }}</p>
                <p class="mb-0 lugar">
                        {%  if  receta.lugar|default_if_none:"" %}
                        {{ receta.lugar|title }}
                        {% else %}
                        Lugar no asignado
                        {% endif %}
                </p>
                <button class="btn scl2 editRecetaInfo"
                    data-bs-toggle="modal" 
                    data-bs-target="#editarRecetaModal"
                    
                    data-id="{{receta.id}}"
                    data-doc="{{receta.doc}}"
                    data-lugar="{{receta.lugar}}"
                    data-fecha="{{receta.fecha|stringformat:'s'}}"
                    >
                    <i class="fa-solid fa-edit me-2"></i> Editar información</button>
               <div class="checkbox-wrapper-3 d-flex">
                <p><b>Seguir receta:</b></p>
                <input 
                    type="checkbox" 
                    id="cbx-3" 
                    data-id="{{ receta.id}}" 
                    data-token="{{ csrf_token }}"
                    {{ receta.activo|yesno:"checked,"   }}
                />
                <label for="cbx-3" class="toggle"><span></span></label>
                </div>

            </div>
            <div class="efectividad ">
                <p class="title"><b>Efectividad</b></p>
                <div class="efectividad-child d-flex">
                    <p class="valor me-3 mb-0" id="efectividad-valor"  data-efectid="{{ receta.id }}">{{ receta.efectividad }}/10</p>
                    <button class="btn scl2" id="efectividad-btn">
                        <i class="fa-solid fa-edit"></i>
                    </button>
                </div>    
            </div>
                 
        </div>
        <div class="info">
            <div class="info-top mb-3">
                <h5 class="mt-1">Medicamentos ({{receta.cantidad_medicinas}})</h5>
                <button class="scl2 aggbtn " data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="fa-solid fa-plus me-1 "  ></i><span class="agg"> Agregar medicamento</span></button>
            </div>
            <div class="info-contenido ">
                {% if medicinas %}
                {% for med in medicinas %}
                <div class="medicina">
                    <div class="mediciona-info">
                        <p class="medicina-title">{{ med.nombre|upper}}</p>
                        <div class="periodos">
                             <p class="cada me-2"><i class="fa-solid fa-capsules"></i> {{ med.cantidad}}</p>
                            <p class="cada me-4"><i class="fa-regular fa-clock"></i> Cada: {{ med.cada }}</p>
                            <p class="durante"><i class="fa-regular fa-calendar"></i> Durante:   {{ med.durante}}</p>
                        </div>
                    </div>
                    <div class="mediciona-acciones">
                        <button class="scl ver btn"
                            data-bs-toggle="modal" 
                            data-bs-target="#modalMedicamento" 
                            data-img="{% if med.img %}{{ med.img }}{% else %}/media/default.png{% endif %}"
                        >                        
                        <i class="fa-solid fa-eye"></i></button>
                        <button class="scl edit btn" 
                        data-receta_id="{{receta.id}}"
                        data-id="{{ med.id }}" 
                        data-title="{{med.nombre|capfirst}}" 
                        data-cantidad="{{med.cantidad}}"
                        data-cada="{{med.cada}}"
                        data-durante="{{med.durante}}"
                        data-bs-toggle="modal" data-bs-target="#editModal"
                        ><i class="fa-solid fa-pencil"></i></button>
                        <button class="scl borrar btn" onclick="document.getElementById('deleteReceta-{{ med.id }}').submit()"><i class="fa-solid fa-trash"></i></button>
                        <form action="./" method="POST" id="deleteReceta-{{ med.id }}"> {% csrf_token %}<input type="hidden" name="deleteID" value="{{ med.id }}" ></form>
                    </div>
                </div>
                {% endfor %}
                 {% else%}
                    {%  include 'sinMedicinas.html' %}
                {% endif %}
               
            </div>
        </div>
    </div>


{% include 'modales/agregarMedicina.html' %}
{% include 'modales/editarMedicina.html' %}
{% include 'modales/editarReceta.html' %}
{% include 'modales/imgReceta.html' %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="{% static 'js/agregarMedicina.js' %}"></script>
<script src="{% static 'js/actualizarEfectividad.js' %}"></script>
<script src="{% static 'js/actualizarActivo.js' %}"></script>
<script src="{% static 'js/editMedicina.js' %}"></script>
<script src="{% static 'js/editReceta.js' %}"></script>
<script src="{% static 'js/imgReceta.js' %}"></script>
<script src="{% static 'js/imgRecetaModal.js' %}"></script>


</body>
</html>