{% load static %}


<div class="modal fade mt-5 " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <div class="custom-modal-header mt-2 me-2">
        <span class="ms-0" id="exampleModalLabel" ><b>Nueva receta médica</b></span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="./" method="POST" id="nuevaReceta">
           {% csrf_token %}
          <div class="mb-3 ">
            <label for="recipient-name" class="col-form-label ">
                <i class="fa-regular fa-user"></i>
                Nombre del Doctor
            </label>
            <input type="text" name="doc" class="form-control" id="recipient-name" placeholder="Ej. Juan Perez">
          </div>
          <div class="mb-3 ">
            <label for="recipient-name" class="col-form-label ">
                <i class="fa-solid fa-location-dot"></i>
                Lugar
            </label>
            <input type="text" name="lugar" class="form-control" id="recipient-name" placeholder="Ej. Hospital Nasir">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label"><i class="fa-regular fa-calendar"></i> Fecha</label>
            <input class="form-control" type="date" name="fecha" id="">
          </div>
        </form>
      </div>
      <div class="custom-modal-footer">
        <button type="button" class="btn scl" onclick="document.getElementById('nuevaReceta').submit()">Guardar Receta</button>
      </div>
    </div>
  </div>
</div>
