<!-- Modal de confirmación -->
<div id="confirm-modal" class="confirm-modal" style="display:none;">
    <div class="confirm-modal-content">
        <p><span class="material-symbols-outlined alertD">
            error
        </span>
</p>
        <p id="confirm-message">¿Estás seguro?</p>
        <div class="confirm-buttons">
            <button id="confirm-yes" class="btn confirm-yes scl">Si</button>
            <button id="confirm-no" class="btn confirm-no scl">Cancelar</button>
        </div>
    </div>
</div>
