<div class="modal fade" id="modalMedicamento" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Imagen del medicamento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <img id="imgMedicamento" class="img-fluid" alt="Medicamento" style="display:none;">
        <h4 id="noImageText" class="text-muted mt-4" style="display:none;">No se agregó ninguna imagen</h4>
      </div>
    </div>
  </div>
</div>
