.container
{
    position: relative;
}

.container .back
{
    position: absolute;
    left: -3rem;
}
.container .back i
{
    color: black;
    padding: 8px;
    transition: 0.3s ease-in-out;
}

.container .back i:hover
{
    transform: translateX(-8px);
}

.top
{
    display: flex;
    position: relative;
    margin-top: 4rem;
}



.informacion .doc
{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}

.informacion .fecha
{
    font-size: 18px;
}

.switch-lg {
  transform: scale(1.5); /* agranda 50% */
  margin-left: 0.5rem;   /* corrige la alineación */
}

.efectividad
{
    position: absolute;
    right: 1rem; 
}



.efectividad-child
{
     justify-content: flex-end;
     margin-right: 1rem;
     align-items: center;  
     margin-right: 0;
}

.efectividad-child .valor
{
    font-size: 20px;
}

.efectividad-child button
{
    background-color: var(--botones) !important;
    color: white  !important;
    
    
}

.efectividad .title
{
    margin-bottom: 0;
    font-size: 25px;

}

.info
{
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid var(--borde) ;
    border-radius: 30px;
    min-height: 550px;
    transition: .3s ease-in-out;
    
}


.info:hover
{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.info .info-top
{
    position: relative;
    display: flex;
}

.info .info-top button
{
    position: absolute;
    right: 0;
    border: none;
    color: white;
    background-color: var(--botones);
    padding: 0.4rem 1rem;
    border-radius: 8px;
    font-weight: 600;

}

.medicina
{
    margin-bottom: 0.8rem;
    padding: 1rem 1.4rem 0.3rem;
    border: 1px solid var(--borde) ;
    border-radius: 30px;
    display: flex;
    position: relative;
}

.mediciona-info .medicina-title
{
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 5px;
}

.mediciona-info .periodos
{
    display: flex;
}

.mediciona-info .periodos p
{
    text-transform: capitalize !important;
    font-size: 15px;
}

.mediciona-acciones
{
    position: absolute;
    right: 20px;
    margin-top: 1rem;
}

.mediciona-acciones button
{
  
    font-size: 20px;
    background-color: white;
    margin-left: 8px;
}



.mediciona-acciones .edit:hover
{
    color:blue !important;
}

.mediciona-acciones .ver:hover
{
    color:blue !important;
}

.mediciona-acciones .borrar:hover
{
    color:var(--delete) !important;
}


