

.top
{
    display: flex;
    position: relative;
    margin-bottom: 3rem;
}

.top h1
{
    color: #374151;
    font-weight: 700;
}

.top button
{
    position: absolute;
    right: 0;
    margin: 0.6rem 0;
    background-color: var(--botones) !important;
    color:white !important;
    font-weight: 700 !important;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;

}


.receta
{
    background-color: var(--card);
    border: 1px solid var(--borde);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: .3s ease-in-out;
}

.receta:hover
{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transform: scale(1.01);
}

.receta .receta-doc
{
    font-size: 20px;
}

.receta .receta-cantidadMedicina
{
    font-weight: 600;
    color: #00000076;
}

.receta .receta-info2
{
    align-items: center;
    display: flex;
    position: absolute;
    right: 1.5rem;
}

.receta .accion button
{
    border: 1px solid var(--borde);
    font-size: 20px;
}

.receta .accion button:hover
{
    border: 1px solid var(--delete);
    color: var(--delete);

}

.receta .receta-info2 .detalles
{
    margin-right: 3rem;
}

.receta .receta-info2 .detalles .efectividad
{
    color: var(--opaco)
}