.custom-modal {
    overflow: hidden;
    padding: 0 1rem;
}

.custom-modal-header {
    border: none; 
    padding: 1rem ;
    position: relative;
    display: flex;
    align-items: center;
}

.custom-modal-footer {
    border: none; 
    padding: 0 1rem 2rem;
    align-items: center;
    width: 100%;
}

.custom-modal-footer button
{
    width: 100%;
    background-color: var(--botones)!important;
    color: white !important;
    font-weight: 600;
}

.custom-modal-header button
{
    position: absolute;
    right: 1rem;
}

.custom-modal-header span
{
    font-size: 30px;
}

.modal-body
{
    padding-top: 0;
}