footer
{
    width: 100%;
    background-color:rgb(64, 163, 160);
    color:#fff; 
    padding:20px 1rem;
    font-family:Arial, sans-serif;
    height: 150px;
    position: absolute;
    bottom: 0;


} 

footer div
{
    max-width:1200px; 
    margin:0 auto;
    display:flex; 
    flex-wrap:wrap; 
    justify-content:space-between; 
    align-items:center;
}



footer div h3
{
    font-family: 'Lato', sans-serif !important;
    font-weight: 800;
    margin:0 0 10px;
}

footer div p
{
    font-size:14px; 
    margin:0;
}

@media (max-width: 600px) {


footer div
{
    display:block; 
}

}